<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body ng-app="demo_product">
    <div ng-controller="myctrl">
      <form id="form_create_product" ng-submit="onFormSubmit($event)">
        <input
          type="text"
          value="{{product.id}}"
          ng-model="product.id"
          style="display: none" 
        />
        <label>Tên sản phẩm</label>
        <input
          type="text"
          class="form-control"
          id="ten"
          ng-model="product.ten"
          value="{{product.ten}}"
        />
        <br />
        <label>số lượng</label>
        <input
          type="text"
          class="form-control"
          id="soLuong"
          ng-model="product.so_luong"
          value="{{product.so_luong}}"
        />
        <br />
        <label>giá nhập</label>
        <input
          type="text"
          id="giaNhap"
          ng-model="product.gia_nhap"
          value="{{product.gia_nhap}}"
        />
        <br />
        <label>giá bán</label>
        <input
          type="text"
          id="giaBan"
          ng-model="product.gia_ban"
          value="{{product.gia_ban}}"
        />
        <br />
        <label>mô tả</label>
        <textarea
          id="my-textarea"
          name=""
          rows="3"
          id="moTa"
          ng-model="product.mieu_ta"
          aria-valuetext="{{product.mieu_ta}}"
        ></textarea>
        <br />
        <div class="modal-footer">
          <button type="submit">thêm</button>
          <button type="submit" >sửa</button>
        </div>
      </form>
      <div>
        <table>
          <thead>
            <tr>
              <td>mã</td>
              <td>tên</td>
              <td>số lượng</td>
              <td>giá nhập</td>
              <td>giá bán</td>
              <td>miêu tả</td>
              <td>edit</td>
              <td>delete</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="product in products">
              <td>{{product.id}}</td>
              <td>{{product.ten}}</td>
              <td>{{product.so_luong}}</td>
              <td>{{product.gia_nhap}}</td>
              <td>{{product.gia_ban}}</td>
              <td>{{product.mieu_ta}}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  ng-click="selectProduct($index)"
                >
                  Sửa
                </button>
              </td>
              <td>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-bs-toggle="modal"
                  ng-click="delete($index)"
                >
                  Xoá
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>