<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEMO CRUD PRODUCT</title>
</head>
<body ng-app="demo_product">
    <div ng-controller="myCtrl">
        <!-- DANH SÁCH SẢN PHẨM -->
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Ten</th>
                    <th>Số lượng</th>
                    <th>Giá nhập</th>
                    <th>Giá bán</th>
                    <th>Mô tả</th>
                    <th>Sửa</th>
                    <th>Xóa</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in products">
                    <td>{{product.id}}</td>
                    <td>{{product.ten}}</td>
                    <td>{{product.so_luong}}</td>
                    <td>{{product.gia_nhap}}</td>
                    <td>{{product.gia_ban}}</td>
                    <td>{{product.mo_ta}}</td>
                    <td>
                        <button ng-click="selectProduct($index)">Sửa</button>
                    </td>
                    <td>
                        <button ng-click="delete($index)">Xóa</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- FORM Sửa thông tin sản phẩm-->
        <form id="form_product" ng-submit="onSubmit($event)">
            <input type="text" value="{{product.id}}" ng-model="product.id" style="display: none"/>
            <label>Tên sản phẩm: </label>
            <input type="text" class="form-control" id="ten" ng-model="product.ten" value="{{product.ten}}">
            <br/>
            <!-- SỐ LƯỢNG -->
            <label>Số lượng sản phẩm: </label>
            <input type="text" class="form-control" id="soLuong" ng-model="product.so_luong" value="{{product.so_luong}}">
            <br/>
            <!-- Gia nhập -->
            <label>Giá nhập sản phẩm: </label>
            <input type="text" class="form-control" id="giaNhap" ng-model="product.gia_nhap" value="{{product.gia_nhap}}">
            <br/>
            <!-- Giá bán -->
            <label>Giá bán sản phẩm: </label>
            <input type="text" class="form-control" id="giaBan" ng-model="product.gia_ban" value="{{product.gia_ban}}">
            <br/>
            <!-- Mô tả -->
            <label>Mô tả sản phẩm: </label>
            <input type="text" class="form-control" id="moTa" ng-model="product.mo_ta" value="{{product.mo_ta}}">
            <div>
                <!-- Thêm nút phải có submit -->
                <button type="submit">Thêm</button>
                <button type="submit">Sửa</button>
            </div>
        </form>
    </div>
    <script src="../../lib/angular.js"></script>
    <script src="index.js"></script>
</body>
</html>